/*----------------------------------------------Customer & Item CSS Editing-------------------------------------------*/
.customer{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
    min-height:100vh;
    align-items:top;
    background-size:cover;
    background-position:center;
    padding-left:5rem;
}

.item{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
    min-height:100vh;
    align-items:top;
    background-size:cover;
    background-position:center;
    padding-left:5rem;
}
/* ---------------- */
.search-container{
    flex: 1 1 80rem;

}

.form-container{
    flex: 1 1 60rem;
    padding-top:1rem;
}

.table-container{
   flex: 1 1 60rem;

}
/* ---------------- */
.search-container h1{
    font-size:2rem;

}

.search-container input{
    width:60rem;
    height:4rem;
    border:1px solid blue;
    border-radius:.5rem;
    padding-left:.5rem;
    font-size:1.5rem;
    margin-top:1rem;
}

.btn-search{
    display:block;
    font-size:2.5rem;
    color: blue;
    border: 1px solid var(--red);
    border-radius: 1rem;
    padding: 0.5rem 3rem 0.5rem 3rem;
    margin:1rem 1rem 1rem 46rem;
    background-color:#b8b8f5;
}

.btn-search:hover{
    color:white;
    background-color:blue;
}
/* ---------------- */
.form-container h1{
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: bolder;
    margin-bottom: auto;
    padding-bottom: 1px;
}

.form-container input{
    width:60rem;
    height:3rem;
    border:1px solid blue;
    border-radius:.5rem;
    padding-left:.5rem;
    font-size:1rem;

}

.form-container button{
    display:inline;
    font-size:2.5rem;
    border-radius: 1rem;
    padding: 0.5rem 3rem 0.5rem 3rem;
}

.btn-delete{
    color:red;
    background:#ff9393;
    margin: 1rem 1rem 1rem 25rem;
}

.btn-delete:hover{
    color:white;
    background-color:red;
}

.btn-save{
    color:#0ba90b;
    background:#85dcb8;
}

.btn-save:hover{
    color:white;
    background-color:green;
}
/* ---------------- */

.table{
    border-collapse: collapse;
    align-center;
    font-size: 1.6rem;
    width: 80vw;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    text-align: center;
    margin:auto;
}

.table thead tr{
   background-color:#42a940;
   color:white;
   text-align:center;
}

.table th,
.table td{
   padding:12px 10px;
   font-family:'Font Awesome 5 Free';
}

th{
    border:2px solid white;

}

.table tbody tr{
   border-bottom:1px solid grey;

}

.table tbody tr:nth-child(even){
   background-color:#b9b5bc;

}

.table tbody tr:last-of-type{
   border-bottom:2px solid blue;

}
/*----------------------------------------------Customer & Item CSS Editing-------------------------------------------*/
